<template name="card">
  <div class="card">
    <div class="card-body">
      <h3 class="card-body__title">{{ name }}</h3>
      <h4 class="card-body__subtitle">{{ model }}</h4>
    </div>
    <div class="card-nav">
      <a href="" class="card-nav__link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="card-nav__icon">
          <path fill="none" d="M0 0h24v24H0z"/>
          <path fill="#3e46ad" d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
        </svg>
      </a>
    </div>
  </div>
</template>